<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Extract Message From Image</h2>
            <form id="extractForm"> <!-- Form tag added here -->
                <!-- File dropping area -->
                <div class="form-group">
                    <label for="uploadedFileE">Upload Image:</label>
                    <input type="file" id="uploadedFileE" class="form-control-file" accept="image/*">
                    <!-- Image preview will be displayed here -->
                    <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
                </div>
                <!-- Encryption key input field -->
                <div class="form-group">
                    <label for="encryptionKey">Encryption Key:</label>
                    <input type="text" id="encryptionKey" class="form-control" placeholder="Encryption Key">
                </div>
                
                <br>
                <!-- Extract message button -->
                <div class="text-center mb-3"> <!-- Add margin below -->
                    <button type="submit" class="btn btn-primary" id="extractButton">Extract Message From Image</button>
                </div>
            </form> <!-- Form tag ends here -->

            <!-- Display extracted message -->
            <div id="extractedMessage" style="display: none;">
                <label for="extractedMessage">Extracted Message:</label>
                <textarea id="extractedMessageContent" class="form-control" rows="4" readonly></textarea>
            </div>
        </div>
    </div>
</div>
