@{
    
}

<button class="hideBtn" id="hideMessageBtn" data-action-url="@Url.Action("HideMessage", "HideInformation")">Hide a Message</button>
<button class="hideBtn" id="hideFileBtn" data-action-url="@Url.Action("HideFile", "HideInformation")">Hide a File</button><br>
<div class="hideInformationPartialViewContainer"> </div>
