@{
    ViewData["Title"] = "First Button Partial View";
}
<h1>@ViewData["Title"]</h1>

<div class="Btn">
    <button class="dashBtn" id="btn1">Button_1</button><br>
    <button class="dashBtn" id="btn2">Button_2</button><br>
    <button class="dashBtn" id="btn3">Button_3</button>
</div>